.pagination {
  display: flex;
  gap: 0.5rem;
  margin: 1.5rem 0;
}

.pagination__item {
  padding: 0.2rem 0.6rem;
  border-radius: 0.2rem;
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

.pagination__item--current {
  color: #fff;
  background-color: #f20751;
}
